
html,
body,
.intro {
  height: 100%;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.card {
  border: solid 2pt rgb(132, 132, 186);
  border-radius: 10px;
}

.bg-image {
  object-fit: cover;
  width: 100%; 
  height: 50%;
}

.navbar {
  border-bottom: solid 2pt rgb(132, 132, 186);
}

.mask {
  object-fit: cover;
}

